:root {
  --accent: #ffaf00;
  --black: #191414;
  --gray800: #78736e;
  --gray700: #918b84;
  --gray500: #d2cdc8;
  --white: #fffdfb;
  --base-font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: var(--base-font-size);
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

a,
p,
button {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

a:link,
button {
  transition: transform 500ms;
}
a:link:hover,
button:hover {
  transform: scale(1.05);
}

section,
header,
footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

header,
footer {
  justify-content: space-between;
  padding: 0 2rem;
  height: 5rem;
}

section {
  padding: 5rem 0;
}

header.sticky {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-icon {
  fill: var(--accent);
}

footer {
  background: var(--black);
  color: var(--gray800);
}

footer .logo {
  color: var(--gray800);
}
footer .logo-icon {
  fill: var(--gray800);
}

section {
  justify-content: center;
}

section.dark {
  background-color: var(--gray800);
  color: var(--white);
}

.container {
  width: 80em;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
}

.component {
  grid-column: 1 / span 12;
}

.component.accordion {
  grid-column: 3 / span 8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion.card p {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 500ms max-height 500ms;
}
.accordion.card.active p {
  max-height: 20em;
  opacity: 1;
}

.component.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.component.banner {
  position: relative;
  display: grid;
  grid-column: 3 / span 8;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem;
  border-radius: 1rem;
  background: var(--accent);
}

.card {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--gray500);
}

#reviews .card,
#portfolio .card {
  grid-column: span 4;
}

#my-projects .card {
  grid-column: span 6;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  display: block;
}

#social-media {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.social-media {
  fill: var(--gray800);
}

#hero-text {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
#hero-image {
  grid-column: span 4;
  height: 36em;
}

#hero-image img {
  position: relative;
  height: calc(100% + 8rem);
  bottom: 3rem;
  right: 3rem;
}

.title {
  grid-column: 3 / span 8;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title.left {
  text-align: left;
}

.component.banner .title,
.component.banner .cta {
  text-align: left;
  grid-column: span 6;
}

.cta {
  grid-column: 3 / span 8;
  text-align: center;
}

button {
  background: var(--accent);
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
}

button.contrast {
  background-color: var(--black);
  color: var(--white);
}

span.secondary {
  color: var(--gray700);
}

#cta-banner {
  padding-bottom: 7.5rem;
}

#cta-banner-illustration {
  position: absolute;
  width: 21.5em;
  bottom: -13em;
  right: -3em;
  z-index: 100;
}
#cta-banner-illustration img {
  width: 100%;
}
