#contact-form .banner {
  grid-column: 3 / span 8;
}
#prices .card,
#subjects .card {
  grid-column: span 4;
}

#hero .wrapper,
#hero figure {
  grid-column: span 6;
}

#hero figure img {
  width: 100%;
}

.avatar {
  height: var(--spacing-housemates);
  width: var(--spacing-housemates);
  border-radius: 1000px;
  overflow: hidden;
}
.avatar img {
  width: 100%;
}

.edge-decoration {
  fill: var(--color-mid800);
  width: 100%;
  position: absolute;
}
.edge-decoration.top {
  top: 0;
  transform: translateY(-1px);
}
.edge-decoration.bottom {
  bottom: 0;
  transform: translateY(1px);
}

.grade {
  color: var(--color-accent);
}

.grade.inactive {
  color: var(--color-mid800);
}

#prices .card.highlighted::before {
  content: "Most popular";
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: calc(var(--spacing-siblings) / 2) var(--spacing-siblings);
  background-color: var(--color-mid800);
  color: var(--color-lightest);
  border-radius: calc(var(--spacing-siblings) / 2);
}

.price {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 3));
  font-weight: 600;
  color: var(--color-mid800);
}

.carousel {
  width: 100%;
  position: relative;
  grid-column: span 12;
  text-wrap: nowrap;
  overflow: hidden;
  font-size: 0;
}

.carousel .card {
  width: calc((var(--container-width) - (var(--spacing-friends) * 2)) / 3);
  height: 100%;
  text-wrap: wrap;
  display: inline-flex;
  justify-content: space-between;
  transition: transform ease-out 500ms;
  margin-right: var(--spacing-friends);
  font-size: 1rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--spacing-friends);
  height: var(--spacing-friends);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-lightest);
  border: 1px solid var(--color-lightest);
  border-radius: 1000px;
  transition: color 200ms, border 200ms;
}

.arrow.left {
  left: calc(var(--spacing-housemates) * -1);
}

.arrow.right {
  right: calc(var(--spacing-housemates) * -1);
}

.arrow.inactive {
  color: var(--color-mid600);
  border: 1px solid var(--color-mid600);
  pointer-events: none;
}

.pagination {
  position: relative;
  grid-column: span 12;
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing-siblings) / 2);
}
.pagination .dot {
  height: calc(var(--spacing-siblings) / 2);
  width: calc(var(--spacing-siblings) / 2);
  border-radius: 1000px;
  background-color: var(--color-mid600);
}
.pagination .dot.active {
  background-color: var(--color-lightest);
}

#contact-form form {
  justify-content: right;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-friends);
}

#contact-form .title {
  width: 100%;
}

#contact-form label {
  color: var(--color-mid600);
}

.form-input {
  padding: calc(var(--spacing-siblings) * 0.75);
  border-radius: calc(var(--spacing-siblings) / 2);
  border: none;
  background-color: var(--color-lightest);
}

#form-status {
  display: none;
  color: var(--color-accent);
  text-align: center;
}
#form-status.active {
  display: block;
}

#fav-power-ranger {
  position: absolute;
  overflow: hidden !important;
  opacity: 0;
  width: 0;
  height: 0;
  inset: 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 960px) {
  #hero .wrapper,
  #hero figure {
    grid-column: span 6;
    align-items: center;
    text-align: center;
  }

  #hero ul {
    list-style: none;
    padding-inline-start: 0;
  }

  #hero li {
    border-bottom: 1px solid var(--color-mid300);
    margin-bottom: var(--spacing-siblings);
  }

  #prices .card {
    grid-column: 2 / span 4;
  }

  #prices .component {
    gap: calc(var(--spacing-friends) * 2);
  }

  #subjects .card {
    grid-column: span 3;
  }

  #contact-form .banner {
    grid-column: 1 / span 6;
  }

  .carousel .card {
    width: calc((var(--container-width) - (var(--spacing-friends) * 1)) / 2);
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  #subjects .card,
  #prices .card,
  #contact-form .banner {
    grid-column: 1 / span 4;
  }

  .carousel .card {
    width: var(--container-width);
  }

  .arrow {
    font-size: calc(var(--paragraph-font-size) * 0.75);
    width: calc(var(--spacing-friends) * 1.5);
    height: calc(var(--spacing-friends) * 1.5);
  }
}
