:root {
  --color-lightest: #fff8f2;
  --color-mid100: #ffe6d8;
  --color-mid200: #ffe6d8;
  --color-mid300: #ffd7c3;
  --color-mid400: #ffbea7;
  --color-mid500: #ffa58c;
  --color-mid600: #fb7d64;
  --color-mid700: #fa6432;
  --color-mid800: #e64020;
  --color-mid850: #d2371a;
  --color-mid900: #be2d14;
  --color-darkest: #5a1006;
  --color-accent: #ffd700;
  --container-width: 80em;
  --base-font-size: 16px;
  --font-scale-ratio: 1.25;
  --spacing-scale-ratio: 2;
  --paragraph-font-size: 1.25rem;
  --spacing-siblings: 1rem;
  --spacing-friends: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 1))
  );
  --spacing-housemates: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 2))
  );
  --spacing-townmates: calc(
    (var(--spacing-siblings) * pow(var(--spacing-scale-ratio), 3))
  );

  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-darkest);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  width: 100%;
}

html:has(body.no-scroll) {
  overflow: hidden;
}

html:not(:has(body.no-scroll)) {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-mid100);
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: var(--spacing-townmates) 0;
  justify-content: center;
}

section.dark {
  background-color: var(--color-mid900);
  color: var(--color-lightest);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--container-width);
  gap: var(--spacing-housemates);
}

.container.post {
  width: calc(var(--container-width) * 0.75);
}

.component {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-friends);
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  gap: var(--spacing-friends);
  padding: var(--spacing-friends);
  border-radius: var(--spacing-friends);
  background-color: var(--color-lightest);
}

section.dark .card {
  background-color: var(--color-mid850);
}

.card.highlighted {
  transform: scale(1.08);
  border: 2px solid var(--color-mid800);
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-mid200);
  gap: var(--spacing-friends);
  padding: var(--spacing-friends);
  border-radius: var(--spacing-friends);
  background-color: var(--color-mid900);
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-friends);
  width: 80%;
}

.title.left {
  align-items: start;
  text-align: left;
  width: 100%;
}

.highlight {
  color: var(--color-mid800);
}

button,
.button {
  font-weight: 600;
  color: var(--color-lightest);
  text-decoration: none;
  background: var(--color-mid800);
  border: 0px;
  border-radius: calc(var(--spacing-siblings) / 2);
  padding: var(--spacing-siblings) calc(var(--spacing-siblings) * 3);
}

.dark button,
.dark .button {
  background-color: var(--color-lightest);
  color: var(--color-darkest);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-friends);
}

.molecule {
  display: flex;
  gap: var(--spacing-siblings);
}

.molecule.vertical {
  flex-direction: column;
}

.molecule.liquid {
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  :root {
    --paragraph-font-size: 1rem;
    --spacing-siblings: 0.75rem;
    --container-width: 60em;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --container-width: 40em;
  }

  .component {
    grid-template-columns: repeat(6, 1fr);
  }

  .container.post {
    width: var(--container-width);
  }
}

@media screen and (max-width: 640px) {
  :root {
    --paragraph-font-size: 0.875rem;
    --spacing-siblings: 0.5rem;
    --container-width: 30em;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --container-width: 20em;
  }
  .component {
    grid-template-columns: repeat(4, 1fr);
  }
}
