body {
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
label {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: calc(var(--paragraph-font-size) * 0.03);
}

h1 {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 3));
}

h2 {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 2));
}

h3 {
  font-size: calc(var(--paragraph-font-size) * pow(var(--font-scale-ratio), 1));
}

a,
p,
button,
li,
label {
  font-size: var(--paragraph-font-size);
  letter-spacing: calc(var(--paragraph-font-size) * 0.025);
  line-height: 135%;
}

input {
  font-size: calc(var(--paragraph-font-size) * 0.8);
  line-height: 135%;
}

a:link,
button {
  transition: transform 500ms;
}
a:link:hover,
button:hover {
  transform: scale(1.05);
}

span.secondary {
  color: var(--gray700);
}
