<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="description" content="Creative services by Grigorii Khralenok - an expert in content marketing, graphic design, illustration, animation, and copywriting.">
  <meta name="keywords" content="creative marketing, content marketing, illustration, animation, graphic design, creative service, freelancev">
  <meta property="og:title" content="Creative Marketing Assistance - Khralenok">
  <meta property="og:description" content="Creative services by Grigorii Khralenok - an expert in content marketing, graphic design, illustration, animation, and copywriting.">
  <meta property="og:image" content="{{ url_for('static', filename='images/usp-illustration.jpg') }}">
  <meta property="og:url" content="https://www.khralenok.com">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="khralenok.com">  
  <title>Creative Marketing Assistance - Khralenok</title>
  <link rel="canonical" href="https://www.khralenok.com/">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="favicon.ico" type="/static/images/icon/favicon.ico">
  <link rel="icon" href="favicon-16x16.png" sizes="16x16" type="/static/images/icon/favicon-16x16.png">
  <link rel="icon" href="favicon-32x32.png" sizes="32x32" type="/static/images/icon/favicon-32x32.png">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="container">
  <div id="hero">
    <div id="hero-image">
      <canvas id="canvas"></canvas>
    </div>
    <div id="hero-text">
    <h1>Is Your Content Lacking Impact?</h1>
    <p>Let's Talk, I'm Here to Help</p>
    <button id="ctaButton" onclick="openPopup()" type="button">Reach me out</button>
    </div>
  </div>
  <div id="content">
    <div id="usp">
      <div id="usp-text">
        <h2>👋 Hi There!</h2>
        <p>I’m Grigorii Khralenok - an expert in content marketing, graphic design, illustration, animation, and copywriting.</p>
        <p>Let's explore ways to streamline the journey from impression to conversion together!</p>
      </div>
      <div id="usp-image"><img src="/static/images/usp-illustration.jpg" alt="illustration"></div>
    </div>

    <h2>My Services</h2>
    <div id="services">
      <div class="service-card"><span>🖌️</span><a>Graphic Design</a></div>
      <div class="service-card"><span>🖼️</span><a>Illustration</a></div>
      <div class="service-card"><span>🎭</span><a>Animation</a></div>
      <div class="service-card"><span>🌐</span><a>Landing Pages</a></div>
      <div class="service-card"><span>👍</span><a>Social Media</a></div>
      <div class="service-card"><span>✉️</span><a>Newsletters</a></div>
    </div>
    <div class="cta">
      <button onclick="location.href='prices'" type="button">Learn More</button>
    </div>

    <h2>My Latest Work</h2>
    <div id="portfolio">
      <div class="gallery">
        {% for item in portfolio_items %}
        <a class="gallery-item" href="{{ url_for('portfolio_item', item_id=item.url) }}">
            <div class="item-cover"><img src="{{ item.cover }}"></div>
            <h2>{{ item.title }}</h2>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class = cta>
      <button onclick="location.href='portfolio.html'" type="button">More Examples</button>
    </div>

    <h2>Reviews</h2>
    <div id="reviews">
      <div class="review-card"><p>I recommend @khralenok, he worked on my team and outsourced for a long time. I’ll warn you right away - he gets very involved in details can ask awkward questions, and can't stand an apathetic attitude to the job 😀</p>
      <hr class="solid">
      <div class="reviewer"><img src="/static/images/nurlan.png" alt="avatar"><a><b>Nurlan Tlegenov</b>, 1touch.io</a></div></div>
      <div class="review-card"><p>Grigorii understood my vision very well and did a wonderful job. I loved that he was up to the challenge of creating my visual identity. Worked very efficiently within the short deadline and always considered feedback.</p>
      <hr class="solid">  
      <div class="reviewer"><img src="/static/images/imane.png" alt="avatar"><a><b>Imane Salam</b>, AGENCE DRIVE</a></div></div>
    </div>

    <h2>What to expect</h2>
    <div id="features">
    <div class="feature-card"><span>🤙</span><h3>Simple contact</h3><p>Being expert, I'm also friendly and easy to talk. </p></div>
    <div class="feature-card"><span>🫵</span><h3>Focus on you</h3><p>I offer my expertice, but appreciate  your point of view.</p></div>
    <div class="feature-card"><span>👌</span><h3>Transparency</h3><p>I straight with money and expences, no hidden costs.</p></div>
    </div>
    <div class="cta">
      <button onclick="openPopup()" type="button">Get in touch</button>
    </div>
    <h2>FAQ</h2>
    <div id="faq">
      <ul class="faq-list">
        <li class="faq-item">
          <div class="faq-question"><span id="faq-arrow">▶</span><a>How many years of experience you have?</a></div>
          <div class="faq-answer">I have about 8 years of professional experience. Few fun facts about me: My very first touch with vector graphic was when I was 4 years old, with 3d when I was 7 and with HTML when i was 9. </div>
        </li>
        <hr class="solid"> 
        <li class="faq-item">
          <div class="faq-question"><span id="faq-arrow">▶</span><a>Do you have a team?</a></div>
          <div class="faq-answer">I can establish it on fly, if project require, but mostly I handle projects myself. </div>
        </li>
        <hr class="solid"> 
        <li class="faq-item">
          <div class="faq-question"><span id="faq-arrow">▶</span><a>Are you authorized to work with us?</a></div>
          <div class="faq-answer">I prefer to work through Upwork direct contracts or Paypal/Crypto if we speack about some one day projects.</div>
        </li>
        <hr class="solid"> 
        <li class="faq-item">
          <div class="faq-question"><span id="faq-arrow">▶</span><a>Are you interesting in full time job?</a></div>
          <div class="faq-answer">It's negotiable.</div>
        </li>
      </ul>
    </div>
  </div>
{% include 'footer.html' %}
<script src="/static/js/hero.js"></script>
<script src="/static/js/faq.js"></script>
</body>
</html>
